.item-content {
    opacity: 0.8;
    margin: 10px 0;
}

.item-img {
    height: 40px;
    margin: 16px 0;
}

@media only screen and (max-width: 991px) { /** Tablet */
    .item-container {
        display: grid;
        align-items: baseline;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}