.blog-container {
    display: flex;
    gap: 30px;
    padding-top: 60px;
}

.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 90px 0;
    gap: 20px
}

@media only screen and (max-width: 991px) { /** Tablet */
    .grid-view {
        grid-template-columns: 1fr;
    }    
  }

@media only screen and (max-width: 768px) { /** Mobile */
    .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}