.navbar-container {
    align-items: center;
    display: flex;
    height: 120px;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
}

.navbar-hamburger {
    display: flex;
    margin-left: auto;
}

.navbar-right {
    display: flex;
    gap: 60px;
    margin-left: auto;
}

.navbar-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

.navbar-menu-content {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}