.navbar-container {
    align-items: center;
    display: flex;
    height: 120px;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
}

.navbar-hamburger {
    display: flex;
    margin-left: auto;
}

.navbar-right {
    display: flex;
    gap: 60px;
    margin-left: auto;
}