.bio-grid{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
}

.bio-heading {
    margin-top: 0;
}

.bio-img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
}

.bio-img-container {
    background: #e6e6e6;
    border-radius: 20px;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 991px) { /** Tablet */
    .bio-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .bio-img-container {
        grid-row-end: none;
    }
}