.study-arrow {
    align-items: center;
    display: flex;
    height: 120px;
    margin-left: 100%;
}

.study-border{
    border-top: 1px solid;
    opacity: 0.1;
}

.study-capitalize {
    text-transform: capitalize;
}

.study-card-view{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding-top: 120px;
}

@media only screen and (max-width: 991px) { /** Tablet */
    .study-card-view {
        grid-template-columns: 1fr;
    }    
  }

.study-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    width: -webkit-fill-available;
}

.study-content {
    margin: auto;
    width: -webkit-fill-available;
}

.study-div {
    flex-direction: column;
    display: flex;
    height: -webkit-fill-available;
}

.study-card {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
  
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}