.card-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 20px;
}

@media only screen and (max-width: 991px) { /** Tablet */
    .card-view {
        grid-template-columns: 1fr;
    }    
  }

.card-view-chkbox {
    opacity: 0;
    position: absolute; 
}

.card-view-chkbox + label {
    cursor: pointer;
    padding: 0;
    position: relative;
}

.card-view-chkbox + label:before {
    background:none;
    border: 1px solid;
    border-radius: 2px;
    content: '';
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 10px;
    transition: background 1s;
}

.card-view-chkbox-light {
    opacity: 0;
    position: absolute; 
}

.card-view-chkbox-light + label {
    cursor: pointer;
    padding: 0;
    position: relative;
}

.card-view-chkbox-light + label:before {
    background:none;
    border: 1px solid;
    border-radius: 2px;
    content: '';
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 10px;
    transition: background 1s;
}

.card-view-chkbox:checked + .card-view-label {
    opacity: 1;
    transition: opacity 1s;
}

.card-view-chkbox:checked + label:before {
    background: #fff;
    transition: background 1s
}

.card-view-chkbox:checked + label:after {
    color: #0B0B0C;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 1px;
}

.card-view-chkbox-light:checked + .card-view-label {
    opacity: 1;
    transition: opacity 1s;
}

.card-view-chkbox-light:checked + label:before {
    background: #000;
    transition: background 1s
}

.card-view-chkbox-light:checked + label:after {
    color: #0B0B0C;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 1px;
}

.card-view-chkbox:focus + label:before {
    box-shadow: none;
}

.card-view-chkbox-light:focus + label:before {
    box-shadow: none;
}

.card-view-filter {
    display: grid !important;
    grid-row-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 45px;
}

.card-view-filter > div {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    animation-fill-mode: forwards;
}

.study-card {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    animation-fill-mode: forwards;
}
  
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.card-view-chip {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    padding-bottom: 40px;
}

.card-view-chip-div {
    background: transparent;
    border: 1px solid;
    border-radius: 50px;
    opacity: 0.4;
    padding: 0 16px;
    transition: opacity 1s, background 1s;
}

.card-view-chip-div:hover {
    background: #F5F5F5;
    cursor: pointer;
    opacity: 1 !important;
    transition: opacity 1s, background 1s;
}

.card-view-chip-div:hover p{
    color: #000;
    transition: color 1s;
}

.card-view-filter-by {
    display: flex;
    gap: 30px;
    padding-bottom: 60px;
}

.card-view-label {
    opacity: 0.4;
    padding-left: 10px;
    transition: opacity 1s;
}

.card-view-label:hover {
    opacity: 1;
    transition: opacity 1s;
}

.card-view-filter-p {
    align-items: center;
    display: flex;
    margin: 0;
    transition: color 1s;
}

.card-view-filter-x {
    padding-left: 8px;
}

.card-view-options {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 40px;
    transition: opacity 1s;
}

.card-view-filter-arrow{
    transition: transform 1s, opacity 1s;
}