.clients-container {
    position: relative;
}

.clients-clients {
    animation: fadeOutIn 9s infinite;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
}

.clients-clients-second {
    animation: fadeInOut 9s infinite;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    left: 0;
    opacity: 0;
    position: absolute;
    row-gap: 10px;
    top: 0;
    width: 100%;
}

.clients-img {
    height: 100%;
    width: 100%;
}

.clients-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeInOut {
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
}

@keyframes fadeOutIn {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}