.testimonials-carousel-container {
    margin-left: auto;
}

.testimonials-container {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
}

.testimonials-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.testimonials-from {
    opacity: 0.8;
    padding-top: 30px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: 10fr 2fr;
}

.testimonials-icon {
    font-size: 10px;
    margin: 0 12px;
}