.whatido-grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.whatido-grid-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.whatido-grid-three-no-row-gap {
    column-gap: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.whatido-grid-three-no-row-gap > h4 {
    margin: 13.3px 0;
}

@media only screen and (max-width: 991px) { /** Tablet */
    .whatido-grid-two, .whatido-grid-three, .whatido-grid-three-no-row-gap {
        grid-template-columns: 1fr;
    }

    .whatido-grid-three > div {
        display: block !important;
    }
}
