.home-arrow {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.home-banner {
    height: 100vh
}

.home-container {
    height: 100vh;
}

.home-content {
    margin: auto;
}

.home-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-panel-bottom {
    display: flex;
    height: 120px;
    align-items: center;
}

.home-panel-text {
    font-size: 50px;
    line-height: 72px;
    width: fit-content;
}

.home-visibility-hidden {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.mouse-over-image {
    border-radius: 6px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity 0.5s;
    width: 720.2px;
    z-index: 1;
}

.gif {
    height: 450px;
    margin: auto;
    mix-blend-mode: difference;
    width: 600px;
}

.home-banner-content {
    align-items: center;
    display: flex;
    margin: auto 0;
}

.video {
    height: 700px;
    visibility: hidden;
    width: 700px;
}

.video-container {
    margin: 0 auto;
    overflow: hidden;
    height: 450px;
    width: 450px;
    align-items: center;
    display: flex;
    justify-content: center;
}