.experience-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
}

@media only screen and (max-width: 991px) { /** Tablet */
    .experience-grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }   
}