.tools-img {
    height: 150px;
    opacity: 1;
    transition: opacity 1s;
    width: 150px;
}

.tools-img:hover{
    opacity: 0 !important;
    transition: opacity 1s; 
}

.tools-img:hover + .tools-img-text{
    opacity: 0.4;
    transition: opacity 1s;
}

.tools-img-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.tools-img-text{
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
}

.tools-img-text:hover{
    opacity: 1;
    transition: opacity 1s;
}

.tools-img-text:hover + .tools-img{
    opacity: 0;
    transition: opacity 1s;
}

.tools-tools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 991px) { /** Tablet */
    .tools-tools {
        grid-template-columns: repeat(3, 1fr);
    }
}
