@font-face {
  font-family: "Moderat";
  src: local("Moderat"),
    url("./fonts/Moderat-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Moderat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 1s, color 1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  opacity: 0.4;
  text-decoration: none;
  transition: opacity 1s;
}

.global-inherit {
  background: inherit !important;
  color: inherit !important;
}

a:focus {
  outline: none;
}

a:hover {
  cursor: pointer;
  opacity: 1 !important;
  transition: opacity 1s;
}

a.global-border-light,
a.global-border-light:hover,
a.global-border-regular,
a.global-border-regular:hover,
a.global-border-bold,
a.global-border-bold:hover {
  transition: opacity 1s, border-bottom 1s;
}


a.global-border-light {
  border-bottom: 1px solid transparent;
}

a.global-border-light:hover {
  border-bottom: 1px solid;
}

a.global-border-regular {
  border-bottom: 2px solid transparent;
}

a.global-border-regular:hover {
  border-bottom: 2px solid;
}

a.global-border-bold {
  border-bottom: 4px solid transparent;
}

a.global-border-bold:hover {
  border-bottom: 4px solid;
}

.global-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-header {
  padding-bottom: 30px;
}

.global-title, h1, h2, h3, h4, h5, p {
  font-weight: 400;
  margin: 0;
}

.global-title {
  font-size: 56px;
  line-height: 84px;
  padding: 80px 0;
}

h1 {
  font-size: 40px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
}

p {
  font-size: 16px;
  line-height: 28px;
}

@media only screen and (max-width: 768px) { /** Mobile */
  #home-video {
    display: none;
  }

  .global-main-container {
    width: 100%;
  }

  .global-container {
    width: 100%;
  }

  .global-hidden {
    display: none !important;
  }

  .global-title {
    font-size: 40px;
    line-height: 52px;
  }
  
  h1 {
    font-size: 32px;
    line-height: 44px;
  }
  
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
  
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  
  h4 {
    font-size: 20px;
    line-height: 28px;
  }
  
  p {
    font-size: 14px;
    line-height: 20px;
  }

  #navbar-hamburger {
    display: flex;
  }

  #navbar-right {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) { /** Tablet */
  #home-video {
    display: none;
  }

  .global-main-container {
    width: 723px;
  }

  .global-container {
      width: 723px;
  }

  .global-hidden {
    display: none !important;
  }

  #navbar-hamburger {
    display: flex;
  }

  #navbar-right {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) { /** Small Monitor */
  #home-video {
    display: none;
  }
  
  .global-main-container {
    width: 933px;
  }

  .global-container {
      width: 933px;
  }

  .global-hidden {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) { /** Large Monitor */
  .global-main-container {
    width: calc(100% - 245px); /** fix */
  }

  .global-container {
    width: 1127px;
  }
}

.global-fadein {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.global-wrapper {
  padding: 60px 0;
}
